replicaCount: 2

image:
  repository: YOUR_DOCKERHUB_USERNAME/react-app
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  ingressClassName: nginx
  host: react.local
  path: /
  pathType: Prefix
