name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'k8s/**'   # Prevent infinite loop

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set Short SHA
        id: vars
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./react-app
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/react-app-argocd-demo:${{ steps.vars.outputs.SHORT_SHA }}

      - name: Update Kubernetes Manifest Image
        run: |
          sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/react-app-argocd-demo:${{ steps.vars.outputs.SHORT_SHA }}|g" k8s/deployment.yaml

      - name: Commit and Push Changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add k8s/deployment.yaml
          git commit -m "Update image to ${{ steps.vars.outputs.SHORT_SHA }} [skip ci]" || echo "No changes to commit"
          git push
