name: Build and Push Docker Image

on:
  push:
    branches:
      - main   # fix here

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./react-app
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/react-app-argocd-demo:${{ github.sha }}
